<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Starbucks</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Starbucks Challenge</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/predict_amount">Predict Amount</a></li>
                <li><a href="https://www.linkedin.com/in/ramsaranvuppuluri/">LinkedIn</a></li>
                <li><a href="https://github.com/ramsaran-vuppuluri/Starbucks-Challenge/">Code Repository</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Starbucks Challenge</h1>
        <hr />
    </div>
    {% block message %}
    {% endblock %}
</div>

<div class="container">
    <form action="/go" method="get">
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="input-group-text">Age</span>
                <select name="age">
                    {% for age in range(18, 102) %}
                    <option value="{{ age }}">{{ age }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 text-center">
                <span class="input-group-text">Income</span>

                <input type="number" min="0" name="income"/>
            </div>
            <div class="col-md-4">
                <span class="input-group-text">Gender</span>
                <select name="gender">
                    {% for gender in ['Male','Female','Other'] %}
                    <option value="{{ gender }}">{{ gender }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-6 text-right">
                <span class="input-group-text">Became Member On</span>

                <input id="date" type="date" value="2018-01-01">
            </div>
            <div class="col-md-6">
                <span class="input-group-text">Offer ID</span>
                <select name="offer_id">
                    {% for offer_id in offer_ids %}
                    <option value="{{ offer_id }}">{{ offer_id }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-6 text-right">
                <button type="submit" class="btn btn-sm btn-success">Predict Total Purchase Amount</button>
            </div>
            <div class="col-md-6">
                {{ amount }}
            </div>
        </div>
    </form>
</div>

</body>
</html>